* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}
body {
    /*max-width: 85.1%;*/
    /*margin:auto;*/
    /*background-color: black;*/
}
.page__limit{
    max-width: 85.1%;
    margin: auto;
}
.button--clickable {
    cursor: pointer;
}