.doubts {
    background-image: url("../images/banner\ pergunte.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 41vw;
    margin-top: 100px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
}

.doubts__text {
    font-size: 5vw;
    color: #FFFFFF;
    font-weight: 600;
    max-width: 690px;
}

.doubts__button {
    min-height: 50px;
    font-size: 19px;
    font-weight: 400;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .doubts__text {
        font-size: 4vw;
    }

    .doubts__button {
        margin-top: 60px;
    }
}

@media screen and (max-width: 830px) {
    .doubts {
        margin-top: 70px;
        padding: 40px;
    }

    .doubts__text {
        font-size: 5vw;
    }

    .doubts__button {
        margin-top: 70px;
    }
}

.doubts__button:hover {
    background-color: #d3d3d3;
}

@media screen and (max-width: 578px) {
    .doubts {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
    }

    .doubts__text {
        font-size: 5vw;
        color: #FFFFFF;
        font-weight: 600;
        max-width: 690px;
    }

    .doubts__button {
        min-height: 30px;
        font-size: 15px;
        margin-top: 35px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
    }
}